.el-input--small .el-input__icon{
    line-height: 32px !important;
}
.table .el-input__inner{
    border-radius: 0 !important;
    height: 28px !important;
    font-size: 12px !important;
    line-height: 28px !important;
}
.table .el-button--small{
    padding: 7px 15px !important;
}
.el-menu--horizontal{
    border-bottom: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: none !important;
}
.el-menu--horizontal > .el-menu-item{
    display: flex;
    align-items: center;
}
.table .el-date-editor .el-range-separator {
  font-size: 12px !important;
  line-height: 24px !important;
  padding: 0 !important
}